.nav {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
    padding-left: 0;
}

.nav__item {
    margin-right: 50px;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav__item:last-child {
    margin: 0;
}